:root {
  --color-black: #000000;
  --color-red: #dc0611;
  --color-white: #ffffff;
  --color-grey: #303030;
}
.movies a {
  text-decoration: none;
  color: var(--color-white);
}

.movie {
  margin: 50px 100px;
  background-color: var(--color-grey);
  border-radius: 0px 0px 20px 0px;
}

.movie a {
  display: flex;
}

.movie__poster {
  transform: translateY(-15px) translateX(-15px);
}

.movie__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.movie__title {
  margin-bottom: 30px;
  font-size: 24px;
}

.movie__genres {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.movie__genres li {
  margin-right: 10px;
  font-size: 18px;
}
